.contactinfo{
  .row.mdl-cell--12-col.mdl-grid{
    width:100%;
    .mdl-card.mdl-cell--6-col{
      margin-left:auto;
      margin-right:auto;
    }
    h2.mdl-card__title-text.contact {
      i{
        margin-right:10px;
      }
    }
    .mdl-card__supporting-text{
      font-size: 20px;
      display: flex;
      flex-direction: column;
      .contactitem{
        line-height: 32px;
        margin-left: auto;
        margin-right: auto;
        flex: 1;
        margin-bottom:15px;
        margin-top:15px;
        text-decoration: none;
        width: 200px;
        i{
          font-size: 32px;
          margin-right: 10px;
        }
        span{
          line-height: 32px;
          vertical-align: top;
        }
      }
    }
  }
}
