.mdl-grid.contents{
  .mdl-card.mdl-cell--8-col{
    margin-left: auto;
    margin-right: auto;
  }
  .mdl-card{
    a.mdl-button{
      color:#3f51b5 !important;
    }
    .mdl-card__title{
      background-position: top left;
      background-size: cover;
      color:white;
      height: 245px;
      h1{
        background-color: rgba(0,0,0, 0.6);
        padding: 10px;
        border-radius: 2px;
        font-size: 30px;
        text-transform: capitalize;
      }
    }
    .mdl-card__actions{
      .tags-info{
        float:right;
        span{
            font-size: 12px;
            background-color: #D2CDCD;
            padding: 6px 10px;
            border-radius: 15px;
            color: white;
            margin-right: 10px;
            margin-top: 8px;
            vertical-align: middle;
            display: inline-block;
          }
        }
      }
    }
  }
