header.mdl-layout__header.mdl-layout__header--scroll{
  background:url("https://images.unsplash.com/photo-1439723680580-bfd9d28ef9b6?crop=entropy&dpr=2.25&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=44&w=1350");
  background-size:cover;
  background-position-y: 50%;
  .mdl-layout__header-row{
    h3{
      text-align: center;
      width: 100%;
    }
  }
  .mdl-navigation.tabs{
    display: flex;
    align-items: flex-start;
    height: 48px;
    padding: 8px 0;
    margin: 0;
    .mdl-navigation__link.tab{
      margin: 0;
      border: none;
      padding: 0 70px;
      float: left;
      position: relative;
      display: block;
      text-decoration: none;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      overflow: hidden;
      .link__tab{
        font-size: 18px;
        color:white;
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        overflow: hidden;
      }

      .link__tab.is-active{
        &:after{
          height: 4px;
          width: 100%;
          display: block;
          content: " ";
          bottom: 0;
          left: 0;
          position: absolute;
          background: white;
        }
      }
    }
  }

  // .mdl-layout__drawer-button {
  //   background-color: rgba(0, 0, 0, 1);
  // }
}
