header.mdl-layout__header.mdl-layout__header--scroll{
  background:url("https://images.unsplash.com/photo-1439723680580-bfd9d28ef9b6?crop=entropy&dpr=2.25&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=44&w=1350");
  background-size:cover;
  background-position-y: 50%;
  .mdl-layout__header-row{
    .mdl-button{
      left: 0;
      position: absolute;
      margin-left: 15px;
      margin-top: 15px;
      color: white;
      i{
        font-size: 34px;
      }
      &.mdl-button--fab{
        background: transparent;
        box-shadow: none;
      }
    }
    h3{
      text-align: center;
      width: 100%;
    }
    nav.mdl-navigation{
      align-items: flex-end;
      .mdl-navigation__link.mdl-layout__tab{
        line-height: 50px;
        font-size: 30px;
      }
    }
  }
  // .mdl-layout__drawer-button {
  //   background-color: rgba(0, 0, 0, 1);
  // }
}
