

.mdl-card__actions.image-title{
  background-color: rgba(255, 0, 0, .5);
  color: white;
  /* opacity: .5; */
  position: absolute;
  padding: 20px;
  z-index: 100;
  bottom: 0;
  width: 100%;
}






.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
    height: 5px;
}