$mdl-blue: rgb(62, 78, 184);

.mdl-card__actions.image-title{
  background-color: rgba($mdl-blue, .75);
  color: white;
  /* opacity: .5; */
  position: absolute;
  padding: 20px;
  z-index: 100;
  bottom: 0;
  width: 100%;
  &.video-title{
    background-color: rgba($mdl-blue, 1);
    position: static;
    padding: 25px 20px;
  }
}






.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
    height: 5px;
    background-color: $mdl-blue;
}
