nav.mdl-navigation
  a.mdl-navigation__link(ui-sref='main.about') About Me
  a.mdl-navigation__link(ui-sref='main.homepage') Portfolio
  a.mdl-navigation__link(ui-sref='main.contact') Contact
    
  
