div
  span.mdl-layout-title Title
  nav.mdl-navigation
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
