.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row
  h3(ui-sref="main.entries") {{site.author}}
.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row.mdl-layout--large-screen-only
