.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row
  h3 {{site.author}}
.mdl-layout__drawer-button(
  sf-additional-drawer-button,
  corresponding-drawer-selector=".drawer"
)
.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row.mdl-layout--large-screen-only
