.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row
  h3 {{site.author}}
.mdl-layout__drawer-button
   i.material-icons menu
.mdl-layout__header-row.mdl-layout--large-screen-only
.mdl-layout__header-row.mdl-layout--large-screen-only
