a.mdl-navigation__link.subdrawer(ng-click="nextState('main.about')") 
 i.ion-android-person
 span About Me
a.mdl-navigation__link.subdrawer(ng-click="nextState('main.homepage')") 
 i.ion-briefcase
 span Portfolio
a.mdl-navigation__link.subdrawer(ng-click="nextState('main.contact')") 
 i.ion-ios-telephone
 span Contact
