.portfolio.mdl-grid(ng-repeat="section in aboutMe")
  .mdl-card.mdl-shadow--4dp(
    class="centered"
    )
    .mdl-card__media.entry.mdl-color-text--grey-50
      h3 {{section.title}}
    .mdl-card__supporting-text(
      class="child-0{{$index}}"
      )
      span(ng-repeat="listItem in section.content.description")
        span(ng-if="section.title === 'overview'").labeltag Overview: 
        p(
          ng-class="{'overview' : section.title === 'overview'}"
          ) {{listItem}}
      ul.detail-item(ng-repeat="listDetail in section.content.detail track by $index")
        li {{listDetail}}
      span(ng-repeat="descItems2 in process.description2")
        span {{descItems2}}
  //- .mdl-card.image.mdl-shadow--4dp(
  //-   style="background-image: url('{{section.imageurl}}'); height: {{section.imagesize}};",
  //-   class="center"
  //-   ng-if="section.imageurl"
  //-   )
  //-   .mdl-card__title.mdl-card--expand
  //-   .mdl-card__actions
