.contactinfo
  .mdl-grid.animate
    .row.mdl-cell--12-col.mdl-grid
      .mdl-card.mdl-cell--6-col.mdl-shadow--4dp
        .mdl-card__title.mdl-color--primary.mdl-color-text--white
          h2.mdl-card__title-text Contact Info
        .mdl-card__supporting-text
          a.contactitem(href="https://twitter.com/brittanyshutson")
            i.ion-social-twitter
            span @brittanyshutson
          a.contactitem(href="https://www.linkedin.com/in/brittany-hutson-1bba838")
            i.ion-social-linkedin
            span Brittany S. Hutson
        
    .row.mdl-cell--12-col.mdl-grid
      .mdl-card.mdl-cell--6-col.mdl-shadow--4dp
        .mdl-card__title.mdl-color--primary.mdl-color-text--white
          h2.mdl-card__title-text.contact 
            i.ion-email
            span Contact
        .mdl-card__supporting-text
          form(action='http://formspree.io/bhutson1@gmail.com', name='contact', id='contactus', method='POST')
            input(type="hidden" name="_next" value="http://www.brittanyhutson.com")
            input(type="hidden" name="_subject" value="New Message!")
            input(type="text" name="_gotcha" style="display:none")
            .mdl-textfield.mdl-js-textfield
              input#firstname.mdl-textfield__input(type='text',
              name="name")
              label.mdl-textfield__label(for='firstname') Name
            .mdl-textfield.mdl-js-textfield
              input#email.mdl-textfield__input(type='email', name="_replyto")
              label.mdl-textfield__label(for='email') Email            
            .mdl-textfield.mdl-js-textfield
              textarea#comments.mdl-textfield__input(
                type='text',
                rows= "3",
                name="message"
                )
              label.mdl-textfield__label(for='comments') More Info
            .mdl-card__actions.mdl-card--border
              button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(name='submit', type='submit', value='Send', id='submit') Submit
