.mdl-grid(ng-repeat="article in articles")
  .mdl-cell.mdl-cell--2-col
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--8-col
    .mdl-card__title
      h2.mdl-card__title-text {{article.title}}
    .mdl-card__supporting-text
      span {{article.content}}
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | Get Started
    .mdl-card__menu
      button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
        i.ion-android-share-alt
  .mdl-cell.mdl-cell--2-col
