.mdl-grid.animate(ng-repeat="item in articleList" ng-if="item.articleFn !== 'about-me'")
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--8-col(
      class="centered background-image"
      style="background-image:url('{{item.articleImg}}')"
    )
    .mdl-card__title
      h2.mdl-card__title-text {{item.articleName}}
    .mdl-card__actions.mdl-card--border
      a.mdl-button.button-color.mdl-js-button.mdl-js-ripple-effect(ui-sref="main.entries({page: item.articleFn, path: item.articlePath})"  ui-sref-opts="{reload: true, inherit: false, notify: true}")
        | Read More
