.mdl-grid.contents(ng-repeat="item in articleList")
  .mdl-cell.mdl-cell--3-col
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--6-col.animate
    .mdl-card__title(
      style="background-image: url('{{item.imageurl}}')"
      )
      h1.mdl-card__title-text {{item.articleName}}
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(ui-sref="main.entries({page: item.articleFn})")
        | View Here
  .mdl-cell.mdl-cell--3-col
