.mdl-grid
  .mdl-card.mdl-shadow--6dp.mdl-cell--6-col.centered
    .mdl-card__title.mdl-color--primary.mdl-color-text--white
      h2.mdl-card__title-text Contact
    .mdl-card__supporting-text
      form(action='//formspree.io/bhutson1@gmail.com', method='POST')
        //- input(type='hidden', name='_next', value='//site.io/thanks.html')
        .mdl-textfield.mdl-js-textfield
          input#username.mdl-textfield__input(type='text', name='name')
          label.mdl-textfield__label(for='username') First and Last Name
        .mdl-textfield.mdl-js-textfield
          input#email.mdl-textfield__input(type='email', name='_replyto')
          label.mdl-textfield__label(for='email') Email
        .mdl-textfield.mdl-js-textfield
          input#phone.mdl-textfield__input(type='text', name='phone')
          label.mdl-textfield__label(for='phone') Phone Number
        .mdl-textfield.mdl-js-textfield
          input#socialmedia.mdl-textfield__input(type='text', name='socialmedia')
          label.mdl-textfield__label(for='socialmedia') Twitter, Instagram, or Facebook tag
        .mdl-card__actions.mdl-card--border
          button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Submit
