.aboutme.mdl-grid(ng-repeat="section in aboutMe")
  .mdl-card.header.mdl-shadow--4dp.animate.mdl-cell--8-col(
    ng-if="section.title === 'intro'",
    ng-class="{'bold': section.title === 'intro'}"
    )
    .mdl-card__supporting-text
      span(ng-repeat="listItem in section.content.description")
        p {{listItem}}

.mdl-grid.contents(ng-repeat="item in articleList")
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--8-col.animate
    .mdl-card__title(
      style="background-image: url('{{item.imageurl}}')"
      )
      h1.mdl-card__title-text {{item.articleName}}
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(ng-click='refresh()' ui-sref="main.entries({page: item.articleFn})" ui-sref-opts="({reload: true})")
        | View Here
      .tags-info
        span(ng-repeat="tags in item.description") {{tags}}
        
