.portfolio.mdl-grid.animate(ng-repeat="section in businessConnect" ng-if="routes === 'businessConnect' && !section.banner")
  include ../partial/entryitems.jade
.portfolio.mdl-grid.animate(ng-repeat="section in cengageLearning" ng-if="routes === 'cengageLearning' && !section.banner")
  include ../partial/entryitems.jade
.portfolio.mdl-grid.animate(ng-repeat="section in msMollyFoundation" ng-if="routes === 'msMollyFoundation' && !section.banner")
  include ../partial/entryitems.jade
.portfolio.mdl-grid.animate(ng-repeat="section in rememberingRiverhead" ng-if="routes === 'rememberingRiverhead' && !section.banner")
  include ../partial/entryitems.jade
.portfolio.mdl-grid.animate(ng-repeat="section in myTalkTools" ng-if="routes === 'myTalkTools' && !section.banner")
  include ../partial/entryitems.jade
