.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.mdl-layout__header.mdl-layout__header--scroll.mdl-layout__header--transparent(ui-view="header")
  .mdl-layout__drawer.drawer(ui-view="drawer")
  main.mdl-layout_content(ui-view="content")
